################################################################
# Validation input files and output directory names
################################################################

# uncloned survey data
#p_survey_households_uncloned = "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/uncloned/survey_households.csv"
#p_survey_persons_uncloned =    "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/uncloned/survey_persons.csv"
#p_survey_tours_uncloned =      "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/uncloned/survey_tours.csv"
#p_survey_trips_uncloned =      "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/unclonedsurvey_trips.csv"

# uncloned survey data
p_survey_households_uncloned = "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/uncloned/override_households.csv"
p_survey_persons_uncloned =    "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/uncloned/override_persons.csv"
p_survey_tours_uncloned =      "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/uncloned/override_tours.csv"
p_survey_trips_uncloned =      "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/uncloned/override_trips.csv"

# cleaned survey data
p_survey_tours_cleaned =  "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/cleaned/override_tours.csv"

# survey data
p_survey_households = "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/override_households.csv"
p_survey_persons =    "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/override_persons.csv"
p_survey_tours =      "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/override_tours.csv"
p_survey_trips =      "R:/e2projects_two/2023_base_year/2023_survey/activitysim_format/skims_attached/override_trips.csv"

# model results
p_model_path = "//modelstation3/c$/Workspace/sc_20251118/outputs"
# p_model_path = "C:/temp/asim_summaries_data"

p_model_households = "final_households.parquet"
p_model_persons =    "final_persons.parquet"
p_model_tours =      "final_tours.parquet"
p_model_trips =      "final_trips.parquet"
p_landuse =          "final_land_use.parquet"

# other validation dataset
p_acs_auto_ownership = "R:/e2projects_two/activitysim/estimation/2017_2019_data/validation_data/auto_ownership/bg_auto_ownership.csv"
p_maz_bg_lookup =      "R:/e2projects_two/activitysim/estimation/2017_2019_data/validation_data/auto_ownership/maz_bg_lookup.csv"

# validation output directory
p_output_dir = "outputs/validation"

# color palatte for plots
psrc_color = ["#91268F", "#00A7A0", "#8CC63E", "#F05A28", "#4C4C4C", "#630460", "#9f3913", "#588527", "#00716c", "#3e4040"]

hh_columns = ['home_zone_id','household_id', 'auto_ownership','hhsize','num_workers','num_adults','num_drivers','income']
# num_hh_joint_tours: not in survey data

persons_columns = ['home_zone_id', 'workplace_zone_id', 'person_id', 'ptype', 'pemploy', 'household_id',
    'telecommute_frequency', 'work_from_home', 'is_worker', 'is_highschool', 'is_university',
    'is_student', 'is_gradeschool', 'distance_to_work', 'free_parking_at_work', 'distance_to_school',
    'cdap_activity']
# num_non_mand: not in survey data

tours_columns = ['person_id', 'household_id','tour_category', 'tour_type', 'tour_mode', 'start', 'end',
    'composition', 'stop_frequency', 'atwork_subtour_frequency','tour_distance_one_way']
# 'tour_distance': not in model data
# 'atwork_subtour_frequency' (in cleaned survey data), 'tour_distance_one_way': not in survey data
tours_survey_columns = ['person_id', 'household_id','tour_category', 'tour_type', 'tour_mode', 'start', 'end',
    'composition', 'stop_frequency','tour_distance']


trips_columns = ['person_id', 'household_id', 'trip_mode', 'purpose', 'outbound','od_dist_drive']
trips_survey_columns = ['person_id', 'household_id', 'trip_mode', 'purpose', 'outbound','trip_distance']
# 'trip_distance': called 'od_dist_drive' in model data